h1 {
    position: static;
    text-align: center;
    width: 100%;
    height:50px;
    background-color: lightsalmon;
    color:black;
}

h2 {
  text-align: center;
}

body {
    background-color: lightcyan; 
}
